table, td, tr, th {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    margin: auto;
}
table {
    border-radius: 5%;
}
div.container
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}